* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%; /* 1rem = 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
}

:root {
    /* color css  */
    --text-color: #222;

    /* height css  */
    --heade-height: 68px;
}