* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    
}