* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    /* 1rem = 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
}

:root {
    /* color css  */
    --text-color: #222;

    /* height css  */
    --heade-height: 68px;
}

.is-Logout {
    opacity: 1 !important;
    pointer-events: initial !important;
    transform: translate(25%, 0) !important;
}

.is-relatived {
    position: relative;
}

.is-absoluted {
    position: absolute;
}

.removePageNum {
    display: none;
}

.isActive {
    pointer-events: none;
    display: block !important;
    opacity: 1 !important;
    animation: LR_Change ease-in-out 0.4s;
}

.isOpenLR,
.isOpenAP {
    display: flex !important;
    opacity: 1 !important;
}

.isHoverBG {
    background-color: rgb(246, 246, 246);
}

/* container  */
.container {
    margin-top: var(--heade-height);
}

.container-Introduce,
.container-Product,
.container-Cart {
    display: none;
    margin: 0 auto;
    /* font-size: 2rem; */
}