.cart,
.cartPayment {
    width: 100%;
    padding: 4px 60px;
    border-radius: 8px;
}

.cartPayment {
    margin-bottom: 40px;
}

.no-cart {
    width: 100%;
    object-fit: contain;
}

.container__cart-title {
    font-size: 2.3rem;
    line-height: initial;
    text-align: center;
    padding: 16px 0px;
    font-weight: 600;
}

.container__cart-listItem {
    height: 65vh;
    position: relative;
    background-color: #e1e1e1;
    padding: 12px 16px;
    border-radius: 12px;
    overflow-y: auto;
    list-style: none;
    box-shadow: 0 8px 12px #ccc;
}

.container__Mycart-listItem {
    height: 45vh;
    position: relative;
    background-color: #e1e1e1;
    padding: 12px 16px;
    border-radius: 12px;
    overflow-y: auto;
    list-style: none;
    box-shadow: 0 8px 12px #ccc;
}

.container_Mycart-Temp {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    color: #959595;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
}

.container__cart-Item {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin: 12px 0;
    padding: 0 12px;
    box-shadow: 0 4px 8px #ccc;
}

.container__cart-img {
    width: 150px;
    object-fit: contain;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.container__cart-Item-Info {
    width: 100%;
    margin-right: 12px;
}

.container__cart-Item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.container__cart-Item-name {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    padding-right: 16px;
    overflow: hidden;
    color: var(--text-color);
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-lime-clamp: 2;
}

.container__cart-Item-price {
    font-size: 1.4rem;
    font-weight: 400;
}

.container__cart-Item-mutiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.container__cart-Item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.container__cart-Item-desciption {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
}

.container__cart-Item-remove {
    color: white;
    background-color: #ffb339;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;
    transition: all 0.2s;
    box-shadow: 0 4px 8px #8f8f8f;
}

.container__cart-Item-remove:hover {
    color: #ffb339;
    background-color: white;
}

.btn-cart {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 16px;
    margin-right: 20px;
}

.btn-Product {
    background-color: #ffa310;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
    color: white;
    right: 0;
    top: 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px #8f8f8f;
    transition: all 0.2s;
    padding: 0 4px;
}

.btn-Product:hover {
    cursor: pointer;
    background-color: white;
    color: #ffa310;
}


#listProduct {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    background: white;
    border-radius: 12px;
    font-weight: 500;
}

.delete {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    color: #424242;
    transition: all 0.15s;
    margin: 4px 0;
    border: none;
}

.delete:hover {
    background-color: rgb(90, 90, 90);
    color: white;
}

td {
    padding: 12px;
}