.container  {
    margin-top: var(--heade-height);
    min-height: 1200px;
    /* background-color: gray; */
}

.container-Introduction,
.container-Production,
.container-Cart {
    display: none;
    /*background-color: gray;*/
    margin: 0 auto;
    font-size: 2rem;
}


