.footer {
    --primary-color: #ffb339;
    --bd-blue: var(--footer-color);
    min-height: 100px;
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list,
.footer-list-icon {
    padding-left: 0;
    list-style: none;
}


.footer-item_link {
    text-decoration: none;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s;
}

.footer-item_link:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.footer-item_icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: small;
    color: #737373;
}

.footer__content {
    font-size: 16px;
}