.footer {
    --primary-color: #ffb339;
    --bd-blue: var(--footer-color);
    min-height: 100px;
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item_link {
    text-decoration: none;
    font-size: small;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
    line-height: 18px;
    transition: all 0.2s;
}

.footer-item_link:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: small;
    color: #737373;
}