.introduction-slider {
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
    filter: brightness(0.8);
}

.introduce-content {
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: center;
    left: 0;
    right: 0;
    transform: translateY(-150%);
    padding: 20px 0;
    background-color: rgb(247, 247, 247, 0.4);
}

.introduce-title1,
.introduce-title2 {
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 0px #ff070793;
    padding: 16px 0
}

.introduce-title1 {
    font-size: 3rem;
}

.introduce-title2 {
    font-size: 2rem;
}