.Introduce-slider {
    background-image: url(../img/introduce/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48%;
    filter: brightness(0.8);
}

.introduce-content {
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: center;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    padding: 20px 0;
    background-color: rgb(247, 247, 247, 0.5);
}

.introduce-title1,
.introduce-title2 {
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 20px var(--primary-color);
    padding: 16px 0
}

.introduce-title1 {
    font-size: 3rem;
}

.introduce-title2 {
    font-size: 2rem;
}

.product-introduces {
    padding: 32px 20px;
}

.product-introduce {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 28px 40px;
    background-color: #7b7b7b33;
    border-radius: 36px;
    margin-bottom: 40px;
}

.product-introduces--title {
    text-align: center;
    padding: 40px 0;
    font-size: 2.8rem;
    font-weight: 700;
    text-decoration: underline;
}

.product-introduce-image {
    width: 340px;
    object-fit: contain;
    border: 2px gray;
    border-radius: 8px;
    padding: 8px 20px;
    transition: all 0.3s;
}

.product-introduce-image:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.product-introduce-content {
    padding: 8px 32px;
}

.product-introduce--content-title {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    color: orange;
}

.product-introduce--content-contents {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;
    padding: 16px 8px 0;
    line-height: 1.8rem;
}