.catagory-Active {
    color: #ff9005 !important;
}

.container-Product {
    padding-top: 32px;
}

.category {
    padding: 6px;
    border-radius: 8px;
    background-color: #7b7b7b33;
    box-shadow: 0 2px 4px 0 rgb(156 156 156);
}

.category-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 12px 12px 0;
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
}

.category-list {
    list-style: none;
}

.category-list--item {
    padding-top: 4px;
}

.category-list--item-link {
    display: block;
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 6px 16px;
    margin: 2px 0;
    font-weight: 500;
    transition: all 0.2s;
}

.category-list--item-link:hover {
    color: rgba(255, 179, 39, 0.692);
}

/* Mobile Category  */
.mobile-category {
    padding: 0 4px;
    display: none;
}

.mobile-category-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category-list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin: 0 4px;
}

.mobile-category__item:nth-of-type(3n) .mobile-category__link {
    background-color: #fffe8d;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #ffbc70;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #ffd54b;
}

.mobile-category__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    padding: 2px 0;
    line-height: 1.4rem;
    max-width: 100px;
    display: block;
    user-select: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.mobile-category__link:hover {
    opacity: 0.8;
}

/* product */
.main-product {}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-image: linear-gradient(360deg, #ffdebc 0%, #ffffff 45%);
    margin-bottom: 12px;
    height: 380px;
    padding: 8px 6px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgb(156 156 156);
}

.product-item--img {
    width: 100%;
    object-fit: contain;
}

.product-item-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 8px;
}

.product-item--name {
    font-size: 16px;
    margin: 8px 0 4px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item--price_type {
    font-size: 15px;
    margin: 4px 0 ;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.product-item--price {
    font-size: 1.3rem;
}

.product-item--type {
    font-size: 1rem;
    color: #666;
}

.js-product {
    background-color: #ffa310;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: white;
    right: 0;
    top: 0;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: all 0.2s;
}

.js-product:hover {
    cursor: pointer;
    background-color: white;
    color: #ffa310;
}

#js-product-list {
    padding: 0 12px;
}

/* pagination  */
.paginationActive {
    background-color: #ffb327 !important;
    color: white !important;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.home-product__pagination {
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 0;
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item--link {
    --height: 30px;
    display: block;
    text-decoration: none;
    line-height: var(--height);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #a1a1a1;
    min-width: 40px;
    height: var(--height);
    border-radius: 4px;
    transition: all 0.2s;
}

.pagination-item--link:hover {
    color: #ffb327;
}