.catagory-Active {
    color: #ff9005 !important;
}

.container-Product {
    padding-top: 32px;
}

.category {
    background-color: #7b7b7b33;
    padding: 6px;
    border-radius: 8px;
}

.category-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 12px 12px 0;
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
}

.category-list {
    list-style: none;
}

.category-list--item {
    padding-top: 4px;
}

.category-list--item-link {
    display: block;
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 6px 16px;
    margin: 2px 0;
    font-weight: 500;
    transition: all 0.2s;
}

.category-list--item-link:hover {
    color: rgba(255, 179, 39, 0.692);
}

/* product */
.main-product {
    min-height: 500px;
    position: relative;
}

.product-item {
    background-color: #7b7b7b33;
    margin-bottom: 8px;
    height: 200px;
}

#js-product-list {
    /* padding-bottom: 40px; */
}

/* pagination  */
.paginationActive  {
    background-color: #ffb327 !important;
    color: white !important;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.home-product__pagination {
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 0;
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
    position: absolute;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item--link {
    --height: 30px;
    display: block;
    text-decoration: none;
    line-height: var(--height);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #a1a1a1;
    min-width: 40px;
    height: var(--height);
    border-radius: 2px;
    transition: all 0.2s;
}