/* Mobile & Tablet */
@media (max-width: 1023px) {
    .main_body {
        overflow-x: hidden;
    }

    /* introduct */
    .introduce-content {
        display: none;
    }

    .product-introduce {
        flex-direction: column;
        padding: 28px 0;
        border-radius: 12px;
    }

    .product-introduces {
        padding: 20px 20px 0;
    }

    .product-introduces--title {
        padding: 28px 0;
        font-size: 1.8rem;
    }
    
    .product-introduce-image {
        order: 1;
        width: 100%;
    }

    .product-introduce-image:hover {
        opacity: 1;
        transform: scale(1);
    }

    .product-introduce-content {
        order: 2;
        padding: 0 12px;
    }

    .product-introduce--content-title {
        font-size: 1.6rem;
    }

    .js-product:hover {
        background-color: #ffa310;
        color: white;
    }

    .product-introduce--content-contents {
        padding: 4px 8px 0;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    /* Category Mobie and Tablet */
    .mobile-category {
        display: block;
        padding: 0 12px;
    }

    .mobile-search {
        display: flex;
    }
    
    /* Container */
    .container-Product {
        padding-top: 16px;
    }


    /* Cart */
    .cart  {
        padding: 16px 12px 20px;
    }

    .container__cart-img {
        width: 120px;
    }

    .container__cart-Item-name {
        font-size: 1.4rem;
    }

    .container__cart-Item-price {
        font-size: 1.2rem;
    }

    .container__cart-Item-desciption {
        font-size: 1.2rem;
    }

    .cart, 
    .cartPayment {
        padding: 4px 24px;
    }
    

    table, th, td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 0.8rem;
        line-height: 1.6;
    }

    td {
        padding: 4px 0;
    }

    .container__Mycart-listItem {
        padding: 12px 8px;
    }

    /* Product */
    #js-product-list {
        padding: 16px 8px 8px;
    }

}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* admin */
    .product-item {
        height: 350px;
    }

    .container {
        min-height: 60vh;
    }
    
    .product-item--name {
        font-size: 13px;
    }

    .product-item--price {
        font-size: 1rem;
    }

    .product-item--type {
        font-size: 0.8rem;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* header  */
    .header {
        overflow: hidden;
        transition: all 0.3s;
    }

    .header-content {
        flex-direction: column;
        box-shadow: 0 2px 12px #939393;
    }

    .header-logo {
        width: 75%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .header-navbar--list {
        width: 100%;
        flex-direction: column;
    }

    .header-navbar--item {
        font-size: 1.4rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .header-navbar--list .line {
        display: none;
    }

    .header-mobile--btn {
        display: block;
    }

    .header-navbar-logout {
        top: 0;
        opacity: 1;
        pointer-events: initial;
        transform: translate(-10%, 35%);
        box-shadow: 0 2px 4px #8f8f8f;
        line-height: 2.4rem;
        width: 110px;
        font-weight: 400;
    }

    /* Form Login Register */
    .LR-wrap {
        min-height: 460px;
        transform: scale(1) !important;
    }

    .input-field {
        min-width: 100%;
    }

    /* Login and Registed */
    .LR-main {
        width: 410px;
        max-width: calc(100% - 40px);
    }

    /* admin */
    .container-title {
        font-size: 1.8rem !important;
    }


    /* cart */
    .cart {
        padding: 4px 4px 16px
    }
    
    .container {
        min-height: 60vh;
    }

    .container__cart-title {
        padding: 0px 0px 16px;
        font-size: 1.6rem;
    }

    .container__cart-listItem {
        padding: 4px 8px;
    }

    .container__cart-Item {
        padding: 0;
    }
    
    .container__cart-Item-head {
        margin: 0;
    }

    .container__cart-img {
        width: 100px;
    }


    .container__cart-Item-name {
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 0;
    }

    .container__cart-Item-price {
        font-size: 1rem;
    }

    .container__cart-Item-desciption {
        font-size: 0.8rem;
    }

    .container__cart-Item-remove {
        font-size: 1rem;
        padding: 8px 12px;
    }

    .btn-cart {
        margin-right: 8px;
    }

    .product-item {
        padding: 8px 4px;
        height: 320px;
    }

    .product-item-main {
        padding: 0 6px;
    }

    .product-item--price {
        font-size: 0.8rem;
    }

    .product-item--type {
        font-size: 0.8rem;
    }

    .js-product {
        font-size: 1rem;
    }


    /* Cart */
    .container_Mycart-Temp {
        font-size: 1rem;
    }

    /* footer */
    
    .footer__heading,
    .footer-item_link {
        text-align: center;
        line-height: 14px;
        font-size: 0.9rem;
    }

    .footer__heading {
        font-size: 0.8rem !important;
        margin-bottom: 4px;
    }

    .footer-item_link {
        justify-content: center;
    }

    .footer-list {
        margin-bottom: 12px;
    }

    .footer__content {
        padding: 0 12px;
        margin-bottom: 16px;
        line-height: 1.6;
        font-size: 14px !important;
        text-align: center;
    }

    .pagination-item--link {
        min-width: 28px;
        font-size: 1.6rem;
    }

    .container__cart-wrap {
        padding: 12px 4px;
    }

    .container__cart-listItem {
        padding: 4px;
    }

    .container__Mycart-wrap {
        padding: 8px 4px;
    }

    .product-item--name {
        font-size: 12px;
    }

    .footer__bottom {
        margin-top: 8px !important;
    }

    .footer-list-icon {
        font-size: 1.6rem;
        display: flex;
        align-content: center;
        justify-content: space-around;
        margin-top: 12px;
        padding: 0 8px;
    }

    /* toast */
    #toast {
        top: 75px !important;
        right: 12px !important;
    }

    .Detail_Product_main_form {
        flex-direction: column;
    }
}