/* Mobile & Tablet */
@media (max-width: 1023px) {
    .main_body {
        overflow-x: hidden;
    }

    /* introduct */
    .introduce-content {
        display: none;
    }

    .product-introduce {
        flex-direction: column;
        padding: 28px 0;
        border-radius: 12px;
    }

    .product-introduces {
        padding: 20px 20px 0;
    }

    .product-introduces--title {
        padding: 28px 0;
        font-size: 1.8rem;
    }
    
    .product-introduce-image {
        order: 1;
        width: 100%;
    }

    .product-introduce-image:hover {
        opacity: 1;
        transform: scale(1);
    }

    .product-introduce-content {
        order: 2;
        padding: 0 12px;
    }

    .product-introduce--content-title {
        font-size: 2rem;
    }

    .product-introduce--content-contents {
        padding: 4px 8px 0;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    /* Category Mobie and Tablet */
    .mobile-category {
        display: block;
    }

    /* Container */
    .container-Product {
        padding-top: 16px;
    }


    /* Cart */
    .cart  {
        padding: 16px 12px 20px;
    }

    .container__cart-img {
        width: 120px;
    }

    .container__cart-Item-name {
        font-size: 1.4rem;
    }

    .container__cart-Item-price {
        font-size: 1.2rem;
    }

    .container__cart-Item-desciption {
        font-size: 1.2rem;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* admin */
    .btn-Product {
        width: 30% !important;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* header  */
    .header {
        overflow: hidden;
        transition: all 0.3s;
    }

    .header-content {
        flex-direction: column;
        box-shadow: 0 2px 12px #939393;
    }

    .header-logo {
        width: 75%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .header-navbar--list {
        width: 100%;
        flex-direction: column;
    }

    .header-navbar--item {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .header-navbar--list .line {
        display: none;
    }

    .header-mobile--btn {
        display: block;
    }

    .header-navbar-logout {
        top: 0;
        opacity: 1;
        pointer-events: initial;
        transform: translate(-10%, 35%);
        box-shadow: 0 2px 4px #8f8f8f;
        line-height: 2.4rem;
        width: 110px;
        font-weight: 400;
    }

    /* Form Login Register */
    .LR-wrap {
        min-height: 460px;
        transform: scale(1) !important;
    }

    .input-field {
        min-width: 100%;
    }

    /* Login and Registed */
    .LR-main {
        width: 410px;
        max-width: calc(100% - 40px);
    }

    /* admin */
    .container-title {
        font-size: 1.8rem !important;
    }

    .btn-Product {
        width: 60% !important;
    }

    /* cart */
    .cart {
        padding: 4px 4px 16px
    }
    
    .container__cart-title {
        padding: 0px 0px 16px;
        font-size: 1.8rem;
    }

    .container__cart-listItem {
        padding: 4px 8px;
    }

    .container__cart-Item {
        padding: 0;
    }
    
    .container__cart-Item-head {
        margin: 0;
    }

    .container__cart-img {
        width: 100px;
    }


    .container__cart-Item-name {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 0;
    }

    .container__cart-Item-price {
        font-size: 1rem;
    }

    .container__cart-Item-desciption {
        font-size: 0.9rem;
    }

    .container__cart-Item-remove {
        font-size: 1rem;
        padding: 8px 12px;
    }

    .btn-cart {
        margin-right: 8px;
    }

    .btn-Product {
        width: 40% !important;
    }
}